<!-- </div>

  <div class="container-fluid" style="padding-top: 10px; width: 100%; text-align: center; font-size: x-small;">
    <div class="footer">
      <ul>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">About</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Blog</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Help Center</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Status</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Jobs</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Terms</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Privacy Policy</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Cookies</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Ads info</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Brand</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Apps</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Advertise</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Businesses</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Developers</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Directory</a>
        </li>
        <li style="display: inline-block; padding: 0 9px 0 9px; text-align: inherit;">
          <a href="#">Settings</a>
        </li>

      </ul>

    </div>
    <a href="#">&copy;2017 Twitter</a>
  </div> -->


</div>

  <div class="container-fluid" style="padding-top: 10px; width: 100%; text-align: center; font-size: x-small;">
    <div class="footer">
      <ul>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Help Center</a>
        </li>
        <li>
          <a href="#">Status</a>
        </li>
        <li>
          <a href="#">Jobs</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Cookies</a>
        </li>
        <li>
          <a href="#">Ads info</a>
        </li>
        <li>
          <a href="#">Brand</a>
        </li>
        <li>
          <a href="#">Apps</a>
        </li>
        <li>
          <a href="#">Advertise</a>
        </li>
        <li>
          <a href="#">Businesses</a>
        </li>
        <li>
          <a href="#">Developers</a>
        </li>
        <li>
          <a href="#">Directory</a>
        </li>
        <li>
          <a href="#">Settings</a>
        </li>

      </ul>

    </div>
    <a href="#">&copy;2017 Twitter</a>
  </div>

