    <nav class="navbar navbar-default" style="padding-top: 0; padding-bottom: 0;">
      <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="width: 100%; text-align: center; font-size: large; font-weight: bold;">
              <li style="float: none; display: inline-block;"><i class="fa fa-search" aria-hidden="true"></i></li>
              <li style="float: none; display: inline-block;" class="active"><a href="#">Featured</a></li>
              <li style="float: none; display: inline-block;"><a href="#">Sports</a></li>
              <li style="float: none; display: inline-block;"><a href="#">News</a></li>
              <li style="float: none; display: inline-block;"><a href="#">Music</a></li>
              <li style="float: none; display: inline-block;"><a href="#">Entertainment</a></li>
              <li style="float: none; display: inline-block;"><a href="#">Lifestyle</a></li>
              <li class="dropdown" style="float: none; display: inline-block;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Arts & Culture</a></li>
                  <li><a href="#">Government & Politics</a></li>
                  <li><a href="#">Gaming</a></li>
                  <li><a href="#">Nonprofits</a></li>
                  <li><a href="#">Fun</a></li>
                  <li><a href="#">Science</a></li>
                  <li><a href="#">Technology</a></li>
                </ul>
              </li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>