
  <div class="text-center">
    <h1><%= current_user.username %>'s Twitter Feed</h1>
    <hr>
    <p>Here is what your "friends" are saying:</p>
  </div>

  <div class="container-fluid" style="font-family: 'Raleway', 'sans-serif'; font-size: 16px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-4
                  col-sm-8 col-md-offset-2
                  col-xs-10 col-xs-offset-1">

        <div>
          <% @following_tweets.each do |tweet| %>
            <div>
              <strong>
                <p>
                  <%= tweet.user.username %>
                </p>
              </strong>

              <p>
                <%= tweet.message.html_safe %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>