<div class="jumbotron" style="padding-top: 0; padding-bottom: 0; margin-bottom: 0;">
  <div style="color: white;
              background-image: url('https://cdn.pixabay.com/photo/2017/03/24/07/28/twitter-2170426_960_720.png');
              background-size: cover;
              background-position: center;
              height: 200px;
              padding: 20px;">
      <p id="notice"><%= notice %></p>
      <div class="pull-left" style="padding-left: 50px;">
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </div>

      <br>
      <div style="text-align: center; width: 100%;">
          <h2>What's Happening?</h2>
      </div>
  </div>
</div>